/* Estilo para o menu mobile */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #131313;
    color: #fff;
    
    width: 100%; /* Garantir que o menu ocupe toda a largura */
    top: 0; /* Fixar no topo */
    z-index: 1000; /* Certificar-se de que o menu esteja acima de outros elementos */
    height: 60px; /* Definir uma altura fixa para o menu */
    box-sizing: border-box; /* Incluir o padding na altura total */
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background: white;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu a {
    padding: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ddd;
}

.menu a:hover {
    background: #f0f0f0;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 4px;
    background: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 11px;
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: -11px;
}

.hamburger span {
    position: relative;
}

/* Esconder o menu de desktop por padrão (mobile-first) */
.desktop-menu {
    display: none;
}

/* Estilos específicos para dispositivos móveis */
.mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mobile-menu .hamburger {
    margin-right: auto; /* Alinhar o menu à esquerda */
}

.mobile-menu .logo {
    margin-left: auto; /* Alinhar a logo à direita */
}

/* Estilos para telas maiores */
@media (min-width: 769px) {
    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .desktop-menu .links {
        display: flex;
    }

    .desktop-menu a {
        color: #fff;
        text-decoration: none;
        margin-left: 20px;
        padding: 5px 10px;
    }

    .desktop-menu a:hover {
        background: #070606;
        border-radius: 5px;
    }
}
